@import "../../mixins.scss";
.genres {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 4px;
  top: 3.25rem;
  .genre {
    background-color: #e06d1c;
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    white-space: nowrap;

    @include mddvs {
      font-size: 16px;
      border-radius: 4px;
      top: 4rem;
      color: white;
      white-space: nowrap;
    }
    @include mdls {
      font-size: 15px;
    }
    @include mddvh {
      font-size: 13.25px;
    }
    @include mdsm {
      font-size: 15px;
    }
    @include xs {
      font-size: 12px;
      border-radius: 5px;
      top: 4rem;
      color: white;
      white-space: nowrap;
    }
  }
  @include mdls {
    position: relative;
    top: 0rem;
    display: flex;
    // flex-direction: column;
  }
  @include xs {
    position: relative;
    top: 0rem;
    display: flex;
    flex-direction: column;
  }
}
