@import "../../mixins.scss";

.header {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  height: 87px;
  z-index: 100;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
  z-index: 2;
  &.top {
    background: #0a4d68;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  &.show {
    background-color: var(--black3);
  }
  &.hide {
    transform: translateY(-60px);
  }

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    cursor: pointer;
    span {
      font-size: 50px;
      font-weight: 550;
      color: #fff;
      margin-left: 2rem;

      @include mddv {
        margin-left: 0;
        font-size: 45px;
      }
      @include mddvh {
        font-size: 40.8px;
      }
    }
  }
  .menuItems {
    list-style-type: none;
    display: none;
    align-items: center;
    @include md {
      display: flex;
    }
    .menuItem {
      height: 52.8px;
      display: flex;
      align-items: center;
      margin: 0 15px;
      font-size: 1.51rem;
      color: #fff;
      font-weight: 500;
      padding: 0 20px;
      position: relative;
      border-radius: 5rem;

      transition: all ease-in-out 0.5s;

      @include mddvh {
        font-size: 1.27rem;
        margin: 0 13px;
      }
      @include mddv {
        font-size: 1.23rem;
        margin: 0 11px;
        padding: 0 10.35px;
      }
      &.searchIcon {
        margin-right: 0;
      }
      svg {
        font-size: 1.4rem;
        font-weight: 600;
        @include mddv {
          font-size: 1.3rem;
        }
      }
      cursor: pointer;
      &:hover {
        color: #0a4d68;
        background-color: #fff;
      }
    }
  }

  .mobileMenuItems {
    display: flex;
    align-items: center;
    gap: 19.2px;
    @include md {
      display: none;
    }
    svg {
      font-size: 18px;
      color: white;
      stroke-width: 48;
    }
    #mobileSearchIcon {
      font-size: 17.8px;
      color: white;
      stroke-width: 2;
    }
    #menuClose {
      font-size: 20.8px;
      color: white;
      stroke-width: 1.1;
    }
  }

  &.mobileView {
    background: var(--black3);
    .menuItems {
      display: flex;
      position: absolute;
      top: 5rem;
      left: 0;
      background: var(--black3);
      flex-direction: column;
      width: 100%;
      padding: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      animation: mobileMenu 0.3s ease forwards;
      .menuItem {
        font-size: 20px;
        width: 100%;
        height: auto;
        padding: 15px 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:last-child {
          display: none;
        }
      }
    }
  }

  .searchBar {
    width: 100%;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 90px;
    animation: mobileMenu 0.3s ease forwards;
    .searchInput {
      display: flex;
      align-items: center;
      height: 40px;
      margin-top: 10px;
      width: 100%;
      svg {
        font-size: 20px;
        flex-shrink: 0;
        margin-left: 10px;
        cursor: pointer;
      }
      input {
        width: 100%;
        height: 50px;
        background-color: white;
        outline: 0;
        border: 0;
        border-radius: 30px 0 0 30px;
        padding: 0 15px;
        font-size: 14px;
        @include md {
          height: 60px;
          font-size: 20px;
          padding: 0 30px;
        }
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}
