@import "../../mixins.scss";

.switchingTabs {
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.125);
  padding: 6px;
  .tabItems {
    display: flex;
    align-items: center;
    height: 29px;
    position: relative;
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: #0a4d68;
      font-size: 17px;
      font-weight: 500;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: color ease 0.3s;
      &.active {
        color: white;
      }
      @include mddv {
        // width: 116px;
      }
      @include xs {
      }
    }
    .movingBg {
      height: 30px;
      width: 96px;
      border-radius: 4px;
      background-image: var(--gradient);
      position: absolute;
      left: 125px;
      transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
      @include mddv {
        width: 96px;
        left: 100px;
      }
      @include xs {
        width: 90px;
        left: 90px;
      }
    }
  }
  @include xs {
    width: 200px;
    margin-left: 18px;
  }
}
