@mixin sm {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 1536px) {
    @content;
  }
}

@mixin smdv {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin mdls {
  @media only screen and (max-width: 1420px) {
    @content;
  }
}

@mixin mddv {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mddvh {
  @media only screen and (max-width: 840px) {
    @content;
  }
}

@mixin mdsm {
  @media only screen and (max-width: 767.5px) {
    @content;
  }
}

@mixin mddvs {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

@mixin smws {
  @media only screen and (max-width: 635px) {
    @content;
  }
}
@mixin xs {
  @media only screen and (max-width: 500px) {
    @content;
  }
}
@mixin mddevice {
  @media only screen and (max-width: 1158px) {
    @content;
  }
}

@mixin ellipsis($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
