.circleRating {
  background-color: var(--black);
  border-radius: 50%;
  padding: 5px;
  .CircularProgressbar-text {
    font-size: 34px;
    font-weight: 700;
    fill: #1d0505;
  }
  .CircularProgressbar-trail {
    stroke: transparent;
  }
}
